
  h1 {
          color: indigo;
        }

        #thirdDiv {
          height: 600px;
          width: 500px;
          background: ivory;
          padding: 50px;
          border-width: 40px ;
          border-color: mediumseagreen;
        }

        #spanId {
          font-size: 18px;
          margin: 50px;
        }

        img {
          height: 200;
          width: 400;
        }